body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: rgb(68, 125, 160);
}

/*Navigation*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #f2f2f2;
}

.navigation a {
  font-weight: 300;
  text-decoration: none;
  color: #333;
}

.navigation a:hover {
  color: rgb(68, 125, 160);
}

.navigation ul,
.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation li,
.footer-links li {
  display: inline-block;
  margin: 0 10px;
}

.navigation .logo img {
  width: 80px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*Hero content*/
.hero-content {
  position: relative;
}

.hero-content img {
  width: 100%;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 54px;
  text-transform: uppercase;
  color: #fff;
}

/*Section - global*/
.section {
  width: 100%;
  margin: 20px auto 80px;
  max-width: 980px;
  /*top left+right bottom*/
}

/*Section - about*/
.section-about a {
  color: rgb(68, 125, 160);
}

/*Section - features*/
.section-features {
  display: flex;
  justify-content: space-between;
}

.section-features .feature {
  width: 30%;
}

.section-features .feature img {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.section-features .feature-text {
  display: block;
  margin: 12px 0 16px;
}

.section-features .feature-sub-text {
  display: block;
  font-size: 14px;
  text-align: justify;
}
/**/

.topnav input {
  color: #333;
  border: none;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  overflow: hidden;
}

/*Section - train*/

.section-train {
  display: flex;
  justify-content: space-between;
}

.section-train .train-image {
  width: 70%;
}

.section-train .text-container {
  flex-shrink: 20;
}

.section-train .train-image img {
  display: block;
  width: 100%;
}
/* Section - app */
.section-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-app .app-image {
  width: 30%;
  flex-grow: 1;
  margin-right: 40px;
  border-radius: 20px;
  overflow: hidden;
}

.section-app .app-image img {
  display: block;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.section-app .app-image:hover img {
  transform: scale(1.18);
}

.section-app .text-container {
  width: 30%;
  flex: 0 1 30%;
}

.section-app .text-container h3 {
  font-size: 28px;
}

.section-app .text-container p {
  font-size: 18px;
  line-height: 28px;
}

/* Footer */
footer {
  background-color: #333;
  color: #f2f2f2;
}

.footer-inner {
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.footer-links a {
  color: #f2f2f2;
}

/*Responsive*/
@media (max-width: 1100px) {
  /*Section global*/
  .section {
    max-width: none;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}

@media (max-width: 920px) {
  /*Section global*/
  .hero-text {
    font-size: 38px;
  }
}

@media (max-width: 780px) {
  .navigation {
    flex-direction: column;
    padding: 20px;
  }
  .navigation .logo img {
    width: 40px;
    margin-bottom: 20px;
  }
  .hero-text {
    font-size: 22px;
  }
  .section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-about p {
    text-align: justify;
  }
  .section-features {
    flex-direction: column;
  }
  .section-features .feature {
    width: 100%;
    margin-bottom: 40px;
  }
  .section-features .feature-text {
    font-size: 17px;
  }

  .section-features .feature-sub-text {
    font-size: 15px;
  }
  .footer-inner {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  .footer-links li {
    display: block;
    margin: 0;
    margin-top: 14px;
  }
}
/* App */
.section-app {
  flex-direction: column;
}

.section-app .app-image {
  width: 100%;
  margin-right: 0;
  border-radius: 10px;
}

.section-app .text-container {
  width: 100%;
  flex: 1 0 auto;
}

.section-app .text-container h3 {
  font-size: 28px;
}

.section-app .text-container p {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
}
